@model CarrinhoCompraViewModel

@if (Model.CarrinhoCompra.CarrinhoCompraItens.Count > 0)
{
    <div>
        <ul class="navbar-nav">
            <li>
                <a class="nav-link" asp-area="" asp-controller="CarrinhoCompra">
                    <span id="cart-status">
                        <ion-icon name="bag-outline"></ion-icon>
                        @Model.CarrinhoCompra.CarrinhoCompraItens.Count 
                    </span>
                </a>
            </li>
        </ul>
    </div>
}