@model List<ItemPedido>

<h2>Itens do Pedido</h2>

<table class="table table-bordered table-stripped">
    <tr>
        <th>descricao</th>
        <th>Valor do item</th>
        <th>quantidade</th>
    </tr>
    @foreach (ItemPedido i in Model)
    {
        <tr>
            <td>@i.descricao</td>
            <td>@i.valor</td>
            <td>@i.quantidade</td>
        </tr>
    }
</table>

<p>Total do Pedido: R$ @Dados.PedidoAtual.saida()</p>
<h5>Pedido realizado com sucesso!</h5>

<a asp-action="Formulario" class="btn btn-primary">Acrescentar outro</a>